html{
    background-color: rgb(27, 27, 30);
    color: rgb(240, 240, 240);
    font-size: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 100px;
    text-align: center;
}
.start{
    left: 50%;
    top: 50%;
}
.center{
    margin: auto;
    display: block;

}

.sidebar{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    background-color: #282828;
    overflow:auto;
    pointer-events: none;
    scroll-behavior: smooth;
}
.sidebarbtn{
    position: fixed;
    top: 0%;
    right:0;
    margin: auto;
    display: block;
    text-align: center;
    background: #775900;
    border-radius: 50%;
    
}
.sidebar p{
    font-size: 25px;
    border-left: 50%;
}
.days{
    color: #c5c5c58e;
}
.day-active{
    background-color: rgb(204, 123, 47);
    border-radius: 50%;
    color: #131313;
}
.day-past{
    color: #c5c5c50f;
}

.next-day-button{
    background-color: #c79112;
    border: none;
    border-radius: 10%;
    font-size: 100px;
    width: 250px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.sidebarshowami{
    animation: sidebarshow 1s;
}
#options{
    background-color: #0c8078;
    border-radius: 20%;
    width: 500px;
    height: 500px;
}
#optionText{
    font-size: 40px;
}
progress{
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 10%;
    top: 0;
    left: 0;
}
#health{
    background-color: #ff0000;
}
@media screen and (min-width: 1100px){
.sidebar{
    opacity:1;
    pointer-events:stroke;
}
.sidebarbtn{
    opacity:0 ;
}
.next-day-button{
    right:100px
}
}

@media screen and (max-width: 1100px){
.sidebar{
    opacity: 0;
}
.sidebarbtn{
    opacity: 1;
}

}

@keyframes sidebarshow{
    0%{transform: translate(100px, 0);}
    100%{transform: translate(-100px, 0); }
}
